.div1 {
    padding: 5%;
    background-image: url(background1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div2 {
    padding: 5%;
    background-image: url(background2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div3 {
    padding: 5%;
    background-image: url(background3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div4 {
    padding: 5%;
    background-image: url(background4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
p {
    font-family: system-ui;
}