.div1 {
    margin: 10%;
    padding: 10%;
    background-image: url(background1.jpg);
}
.div2 {
    margin: 10%;
    padding: 10%;
    background-image: url(background2.jpg);
}
.div3 {
    margin: 10%;
    padding: 10%;
    background-image: url(background3.jpg);
}
.div4 {
    margin: 10%;
    padding: 10%;
    background-image: url(background4.jpg);
}